<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Advertising Page:</h1>
    <p>
		<%= yield(@output) %>	

    </p>
  </body>
</html>